general:
  # The provider that will be used to deploy nodes [containerlab, clabernetes].
  # Default: containerlab
  provider: containerlab
server:
  # Default: 127.0.0.1
  host: 0.0.0.0
  # Default: 3000
  port: 3000
auth:
  # Whether to enable the native admin login. Username and password have to be set via env variables.
  # Default: true
  enableNative: true
  # Whether to enable authentication via OpenID connect.
  # Default: false
  enableOpenId: false
  # Default: ""
  openIdIssuer: ""
  # Default: ""
  openIdClientId: ""
  # Users in these OpenID groups are granted admin privileges.
  # Default: []
  openIdAdminGroups: []
shell:
  # How many shells a user can have open at the same time.
  # Default: 20
  userLimit: 20
  # How long the server will wait before closing inactive shells (in seconds).
  # Default: 1800
  timeout: 1800
database:
  # Default: 127.0.0.1
  host: 127.0.0.1
  # Default: 5432
  port: 5432
  # Default: antimony
  database: antimony
  # Default: antimony
  user: antimony
  # The DB file that is used if the local database flag is set.
  # Default: ./antimony.db
  localFile: ./db/antimony.db
packetflixRelay:
  # The host where the packetflix relay is hosted (needs to be externally accessible).
  host: 127.0.0.1
  # The user with which the packetflix relay can be accessed on the host.
  user: ins
  # The path where the packetflix relay is stored.
  path: /home/ins/relay.py
filesystem:
  # Topology definition files will be stored in this directory.
  # Default: ./storage/
  storage: ./storage/
  # Runtime lab files will be stored in this directory.
  # Default: ./run/
  run: ./run/
containerlab:
  # The URL where the server is trying to fetch the containerlab schema from.
  # Default: https://raw.githubusercontent.com/srl-labs/containerlab/refs/heads/main/schemas/clab.schema.json
  schemaUrl: https://raw.githubusercontent.com/srl-labs/containerlab/refs/heads/main/schemas/clab.schema.json
  # The path to a local schema that will be used if the remote schema is not available.
  # Default: ./data/clab.schema.json
  schemaFallback: ./data/clab.schema.json
  # The path to the device config file.
  # Default: ./data/device-config.json
  deviceConfig: ./data/device-config.json